/* Stiluri de bază pentru email */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
}

h1, h2 {
  color: #333333;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

p {
  color: #666666;
  font-size: 14px;
  line-height: 1.6;
}

a {
  color: #1a73e8;
  text-decoration: none;
}

a:hover {
  color: #d93025; /* Schimbă culoarea linkului la hover */
}

/* Stiluri suplimentare pentru email */
@media screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 18px;
  }
}
